.house {
	position: absolute;
	height: 50px;
	width: 74px;
	background: #FBFEF8;

    @extend %cf;

    &:before, &:after {
	    border: solid 37px transparent;
		width: 0;
	    height: 0;
    }

    &:before {
	    border-bottom: solid 23px #D68421;
	    bottom: 48px;
	    z-index: 2;
	    left: 0px;
    };

    &:after {
	    z-index: 1;
	    border-bottom: solid 23px #D6AF21;
	    bottom: 51px;
	    left: 0px;
	    @include transform(scale(1.1));
    }

    .window {
    	width: 17px;
	    height: 16px;
	    position: absolute;
	    background: #000;
	    border: solid 1px #000;
	    box-shadow: inset 0 -6px 0 #ccc, inset 0px -6px 2px #000, inset 8px 0 0 #fff, inset -8px 0 0 #fff;
    }

    .door {
		width: 17px;
		height: 20px;
		background: #6F1E1B;
		position: absolute;
    }
}