@-webkit-keyframes boneco {
  0% {
    -webkit-transform: translateX(0); }
  100% {
    -webkit-transform: translateX(-200px); } }

@-moz-keyframes boneco {
  0% {
    -moz-transform: translateX(0); }
  100% {
    -moz-transform: translateX(-200px); } }

@-ms-keyframes boneco {
  0% {
    -ms-transform: translateX(0); }
  100% {
    -ms-transform: translateX(-200px); } }

@-o-keyframes boneco {
  0% {
    -o-transform: translateX(0); }
  100% {
    -o-transform: translateX(-200px); } }

@keyframes boneco {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(-200px); } }
