@-webkit-keyframes gotas {
  0% {
    opacity: 1;
    top: 30px; }
  100% {
    opacity: 0;
    top: 120px; } }

@-moz-keyframes gotas {
  0% {
    opacity: 1;
    top: 30px; }
  100% {
    opacity: 0;
    top: 120px; } }

@-ms-keyframes gotas {
  0% {
    opacity: 1;
    top: 30px; }
  100% {
    opacity: 0;
    top: 120px; } }

@-o-keyframes gotas {
  0% {
    opacity: 1;
    top: 30px; }
  100% {
    opacity: 0;
    top: 120px; } }

@keyframes gotas {
  0% {
    opacity: 1;
    top: 30px; }
  100% {
    opacity: 0;
    top: 120px; } }
