

@-webkit-keyframes nuvens{
    0%{
        left:-120px;
    }
    50%{
        left: 600px;
    }
    70%{
        left: 800px;
    }
    100%{
        left:1400px;
    }
}

@-moz-keyframes nuvens{
    0%{
        left:-120px;
    }
    50%{
        left: 600px;
    }
    70%{
        left: 800px;
    }
    100%{
        left:1400px;
    }
}

@-ms-keyframes nuvens{
    0%{
        left:-120px;
    }
    50%{
        left: 600px;
    }
    70%{
        left: 800px;
    }
    100%{
        left:1400px;
    }
}

@-o-keyframes nuvens{
    0%{
        left:-120px;
    }
    50%{
        left: 600px;
    }
    70%{
        left: 800px;
    }
    100%{
        left:1400px;
    }
}

@keyframes nuvens{
    0%{
        left:-120px;
    }
    50%{
        left: 600px;
    }
    70%{
        left: 800px;
    }
    100%{
        left:1400px;
    }
}
