$items: 2;
$width-controls: (100/$items)*1%;
$cl: rgb(255, 249, 224);
$sky:#00dfff;
$black:#000;
$cl-black:#7E6131;
$yellow-dark: #f6a628;
$green: rgb(25, 173, 29);
$green-bg:#1AB353;
$blue-dark:#00eaff;
$blue-light:#6DF1FE;
